* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

/* ------------------ DESKTOP ------------------ */

@media (max-width: 1400px) {
    * {
        font-size: 20px;
    }
}

/* ------------------ TABLET ------------------ */

@media (max-width: 768px) {
    * {
        font-size: 16px;
    }
}

/* ------------------ MOBILE ------------------ */

@media (max-width: 450px) {
    * {
        font-size: 14px;
    }
}




/* --------------- NAVBAR --------------- */

.link{
    display: inline;
    margin-right: 1rem;
    transition: opacity .15s ease-in-out;
}

.link:hover{
    opacity: 60%;
    text-shadow: #fff 1px 1px 40px;
}

.icono{
    font-size: 2rem;
    cursor: pointer;
}

.btn-login{
    font-size: 1.25rem;
}

.contenedor-navbar {
    background-color: #000;
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

/* ------------------ COLOR DE CADA ICONO --------------------- */

.fa-whatsapp{
    color: #128c7e;
}

.fa-instagram{
    color: #c13584;
}

.fa-github{
    color: #6e5494;
}

.fa-linkedin{
    color: #0077b5;
}

/* ------------------ QUERIES --------------------- */

@media (max-width: 992px) {
    .logo-arg-programa {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .contenedor-iconos {
        display: none;
    }

    .navbar {
        justify-content: space-around;
    }
}

@media (max-width: 574px) {
    .logo-arg-programa {
        width: 90%;
    }
}




/* ------------------ ABOUT ----------------- */
/* ---------------------------- TITULO ---------------------------- */
.banner {
    width: 100%;
    background: url('img/2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
    height: 800px;
    margin: 0;
    padding: 0;
}

.caja-titulo {
    width: 100%;
    height: 100%;
}

.contenedor-titulo {
    border: 5px solid rgba(87, 87, 87, 0.5);
    background-color: rgba(243, 205, 34, 0.7);
    width: 60%;
    padding: 1rem 0;
    text-align: center;
}

/* ---------------------------- PRESENTACION ---------------------------- */
.presentacion {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -12%;
}

.foto-perfil {
    width: 60%;
    border-radius: 50%;
}

.contenedor-nombre {
    background-color: rgba(179, 179, 179, 0.5);
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}

/* ----------------------------- INFORMACION -------------------------------- */
.informacion {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 60%;
}

.icono-edit {
    cursor: pointer;
    font-size: 1.3rem;
    display: none;
}

.informacion:hover .icono-edit{
    display: block;
}
/* --------------------------- QUERIES ------------------------------ */
@media (max-width: 992px) {
    .informacion {
        width: 100%;
    }
}


@media (max-width: 768px) {
    .foto-perfil {
        width: 40%;
    }

    .informacion {
        width: 50%;
    }
}

@media (max-width: 540px) {
    .informacion {
        width: 70%;
    }
}



/* ------------------------ EDUCACION ---------------------- */

.titulo-articulo {
    font-weight: 700;
    font-size: 2.3rem;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    margin-bottom: 0;
    margin: 1% 0;
}

.contenedor-articulo{
    background-color: rgb(122, 122, 122);
    text-align: center;
    margin: 3% 0;
    border-radius: 3px;
}

.foto-edu {
    width: 50%;
    margin-left: 25%;
}

.subtitulo{
    font-weight: 500;
    font-size: 2rem;
}


@media (max-width: 768px) {
    .contenedor-articulo {
        border-radius: 0;
    }
}

/* ------------------ HABILIDADES -------------------- */
.contenedor-habilidades > div {
    text-align: center;
}

progress {
    background-color: green;
}
/* ------------------ MEDIA QUERIES ------------------ */
@media screen and (max-width: 910px){
    .btn{
        font-size: 1rem;
    }

    .icono{
        margin-right: 0.5rem;
    }
    
    .fa-brands {
        font-size: 1.5rem;
    }

    .titulo-articulo {
        text-align: center;
    }
}

@media screen and (max-width: 650px){
    .btn{
        font-size: 0.75rem;
    }

    .icono{
        display: none;
    }

    .titulo-articulo {
        font-size: 1.75rem;
    }
}